body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link:hover {
  color: #2470dc;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.logout-dashboard {
  background-color: rgb(37, 37, 37);
  color: gray;
  padding: 0 10px 3px 10px;
  border: none;
}

/* table data */
.table-responsive .table {
  width: 100%;
  border: 1px solid var(--table-border);
  min-width: max-content;
}

.table-responsive .table thead tr th {
  padding: 10px;
  color: white;
}


.table-responsive .table tbody tr td {
  padding: 10px;
  color: var(--text-color);
}


.table-responsive .table thead {
  font-size: 15px;
  background-color: #343a40;
  color: white;
}
.table-responsive .table tbody {
  font-size: 15px;
}

.btn-action {
  font-size: 13px;
}

.table-responsive .table tbody tr td img {
  width: 55px;
  height: 72px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* Add Page */
.checkbox {
  width: 20px;
  height: 20px;
}

.label-check {
  font-size: 17px;
  margin-left: 5px;
}

.img-preview {
  box-shadow: 0 5px 16px rgb(0, 0, 0, 0.3);
}

.box-dashboard .box {
  width: 300px;
  padding: 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 2px solid #2470dc;
} 

.dataTables_length, .dataTables_filter {
  margin-bottom: 20px;
}

.dataTables_filter label{
  font-family: Arial, Helvetica, sans-serif;
}

.dataTables_filter input[type="search"] {
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  width: 210px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  margin-left: 10px;
}

.dataTables_filter input[type="search"]:focus {
  border-bottom: 1px solid #2470dc;
}