/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');


/* Dark Mode */
:root {
    --background-color: #ffffff;
    --background2-color: #f7f7f7;
    --text-color: #000;
    --shadow: rgba(0, 0, 0, 0.4);
    --bg: #ffffff;
}

  .darkmode {
    --background-color: #161616;
    --background2-color: #242424;
    --text-color: #ffffff;
    --shadow: #161616;
    --bg: #161616;
}

.dark-theme-icon {
    cursor: pointer;
}

body {
    background-color: var(--background-color) !important;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.navbar {
    background-color: var(--background2-color);
    color: var(--text-color);
}

.navbar-brand,
.nav-link {
    color: var(--text-color) !important;
}

.link-novel a {
    color: var(--text-color);
}

.container-dark-mode {
    background-color: var(--background2-color);
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.body-detail {
    background-color: var(--background-color);
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

trix-toolbar [data-trix-button-group] {
    background-color: white;
}

/* End Dark Mode */



/* Navbar */
.navbar {
    position: relative;
    z-index: 1;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.navbar-brand {
    font-family: Viga;
    font-size: 30px !important;
}

.navbar-link:hover {
    color: #0d6efd !important;
}


.head h2 {
    color: var(--text-color);
}




/* End Navbar */


/* Jumbotron */

.jumbotron {
    background-image: url(../img/jumbotron/jumbotron.jpg);
    background-size: cover;
    height: 540px;
    text-align: center;
    position: relative;
}

.jumbotron .container {
    z-index: 1;
    position: relative;
}

.jumbotron::after {
    content: ' ';
    display: block;
    width: 100%;
    height: 80%;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    position: absolute;
    bottom: 0;
}

.jumbotron .display-4 {
    color: white;
    margin-top: 210px;
    font-weight: 200 !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    margin-bottom: 30px;
    font-size: 32px;
}

.jumbotron .display-4 span {
    font-weight: 500 !important;

}

/* End Jumbotron */



/* Utility */

.tombol {
    text-transform: uppercase;
    border-radius: 40px !important;
    -webkit-border-radius: 40px !important;
    -moz-border-radius: 40px !important;
    -ms-border-radius: 40px !important;
    -o-border-radius: 40px !important;
    font-weight: bold !important;
    font-family: Viga;
}

/* End Utility */



/* Desktop Version */
@media (min-width: 992px) {

    body {
        overflow-x: hidden;
    }

    .nav-link {
        font-family: Viga;
        text-transform: uppercase;
        margin-right: 30px;
    }

    .navbar-brand,
    .nav-link {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0) !important;
        transition: 0.4s !important;
        -webkit-transition: 0.4s !important;
        -moz-transition: 0.4s !important;
        -ms-transition: 0.4s !important;
        -o-transition: 0.4s !important;
}

    /* .nav-link:hover::after {
        content: ' ';
        display: block;
        border-bottom: 3px solid #0B63DC;
        width: 50%;
        margin: auto;
        padding-bottom: 4px;
        margin-bottom: -7px;
    } */

    /* Jumbotron */

    .jumbotron {
        margin-top: -75px;
        height: 100vh;
        margin-bottom: 150px;
    }

    .jumbotron .display-4 {
        font-size: 64px;
    }

    /* End Jumbotron */


    /* Random Novel */

    .random {
        padding-top: 40px;
    }

    .random-card a {
        text-decoration: none;
    }

    .random-card .img-random {
        background-color: black;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .random-card .img-random img {
        width: 200px;
        height: 300px;
        box-shadow: 10px 15px 16px var(--shadow);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        opacity: 1;
        transition: 0.9s;
        -webkit-transition: 0.9s;
        -moz-transition: 0.9s;
        -ms-transition: 0.9s;
        -o-transition: 0.9s;
}

    .random-card a:hover img {
        opacity: 0.8;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        transition: 0.2s;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -ms-transition: 0.2s;
        -o-transition: 0.2s;
    }

    .title-random span {
        font-size: 15px !important;
        width:200px;
        font-weight: 400;
        overflow:hidden;
        max-height: 3rem;
        -webkit-box-orient: vertical;
        display: block;
        display: -webkit-box;
        overflow: hidden !important;
        text-overflow: ellipsis;
        -webkit-line-clamp: 4;
        color: var(--text-color) !important;
        transition: 0.4s;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -ms-transition: 0.4s;
        -o-transition: 0.4s;
    }

    .random-card a:hover .title-random span {
        color: #0d6efd !important;
    }

    .random-card .title-random {
        text-align: center;
    }


    /* End Random Novel */


    /* Start Update */

    .head {
        text-align: left;
        font-family: Viga;
    }

    /* .head h2::after {
        content: ' ';
        display: block;
        border-bottom: 3px solid var(--text-color);
        width: 20%;

        padding-bottom: 8px;
    } */


    .Card {
        margin-top: 50px;
        width: 330px;
    }

    .card-img img {
        width: 330px;
        height: 200px;
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
        object-fit: cover;
    }

    .title-novel {
        margin-top: 10px;
        width: 330px;
    }

    .text-truncate {
        color: var(--text-color) !important;
    }

    .Card .title-novel span .link-list {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 15px;
        max-width: 10px;
        margin-top: 10px;
        color: orange;
        text-decoration: none;

    }

    .line {
        color: var(--text-color);
    }

    .date-up {
        width: 330px;
    }

    .date-up span {
        font-size: 13px;
        font-weight: 600;
        color: gray;
    }

    .link-novel {
        width: 330px;
    }

    .link-novel a {
        text-decoration: none;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
        transition: 0.2s;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -ms-transition: 0.2s;
        -o-transition: 0.2s;
}

    .link-novel a:hover {
        color: #0B63DC;
    }

    .link-novel {
        margin-top: 5px;
    }


    /* End Update */


    /* Start List Novel */

    .list-body {
        margin-top: 30px;
    }

    .list-body .head {
        font-family: Viga;
    }

    .card-list {
        border-bottom: 1px solid rgb(59, 59, 59);

        padding: 30px 10px;
        width: 360px;
    }

    .img-list img {
        width: 95px;
        height: 131px;
        box-shadow: 0 5px 15px var(--shadow);
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
}

    .info-list .list-title {
        color: var(--text-color);
        font-size: 17px;
        font-weight: 500;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
}

    .info-desc {
        font-size: 15px !important;
        width:240px;
        font-weight: 400;
        overflow:hidden;
        max-height: 8rem;
        -webkit-box-orient: vertical;
        display: block;
        display: -webkit-box;
        overflow: hidden !important;
        text-overflow: ellipsis;
        -webkit-line-clamp: 4;
        color: var(--text-color) !important;
        transition: 0.4s;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -ms-transition: 0.4s;
        -o-transition: 0.4s;
    }

    .info-desc p,
    .info-desc span,
    .info-desc div {
        color: var(--text-color) !important;
        text-align: left !important;
        font-family: 'Poppins', sans-serif !important;
        
    }

    .info-desc p span,
    .info-desc p {
        font-size: 15px !important;
    } 

    .card-list a {
        text-decoration: none;
    }

    .card-list a:hover .list-title {
        color: #0d6efd;
    }

    .card-list a:hover .info-desc,
    .card-list a:hover .info-desc p, 
    .card-list a:hover .info-desc p span,
    .card-list a:hover .info-desc div{
        color: #90bcf8 !important;
        transition: 0.2s;
    }



    /* End List Novel */


    /* Start Detail */

    .body-detail {
        margin-bottom: 100px;
    }

    .bg {
        background-color: black;
    }

    .bg-detail {
        opacity: 0.5;
        width: 100vw;
        height: 50vh;
        background-repeat: no-repeat;
        background-size: cover;
        filter: blur(10px);
        -webkit-filter: blur(10px);
        object-fit: cover;
    }


    .detail-img {
        position: relative;
    }

    .cover-novel {
        width: 270px;
        height: 380px;
        position: absolute;
        bottom: -220px;
        left: 60px;
        border-radius: 8px;
        box-shadow: 1px 3px 30px rgba(0, 0, 0, 0.3);
    }

    .type-status {
        position: absolute;
        bottom: -265px;
        left: 80px;
    }

    .type-status span {
        font-size: 17px;
        color: white;
        font-family: Viga;
        padding: 10px 20px;
    }

    .type-status .info-type {
        background-color: #0B63DC;
        margin-right: -2px;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
    }

    .type-status .info-status {
        background-color: orange;
        margin-left: -2px;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
    }

    .detail-info {
        position: absolute;
        background-color: var(--background2-color);
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
        padding: 15px 125px 0 30px;
        bottom: -620px;
        left: 60px;
        width: 270px;
        border-radius: 7px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        -o-border-radius: 7px;
    }

    .detail-info .info span {
        color: var(--text-color);
        font-family: 'Poppins', sans-serif;
        transition: 0.4s;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -ms-transition: 0.4s;
        -o-transition: 0.4s;
}

    .detail-info .info .info-top {
        font-weight: bold;
    }

    .detail-info .info .info-bottom {
        margin-top: -5px;
        font-size: 13px;
    }

    .detail-title {
        position: relative;
        font-family: 'Poppins', sans-serif;
    }

    .detail-title h4 {
        position: absolute;
        bottom: 40px;
        left: 360px;
        color: white;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0) !important;
        font-weight: bold;
    }

    .detail-title span {
        position: absolute;
        bottom: 20px;
        left: 360px;
        color: white;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0) !important;
    }

    .body-detail {
        position: relative;
        z-index: 1;
    }

    .genre {
        flex-wrap: wrap;
    }

    .genre .genre-btn .genre-body {
        color: #0a55be;
        font-size: 20px;
        font-weight: bold;
        font-family: Viga;
    }

    .genre .genre-btn span .genre-detail {
        font-size: 18px;
        color: var(--text-color);
        font-weight: lighter;
        font-family: 'Poppins', sans-serif;
    }

    .genre-detail {
        margin-left: 10px;
        word-spacing: 4px;
    }

    .detail-desc {
        margin-left: 360px;
    }

    .desc-body {
        width: 700px;
        border-top: 1px solid var(--text-color);
        color: var(--text-color);
    }

    .desc-body span {
        margin-top: 10px;

    }

    .desc-body span p,
    .desc-body p span,
    .desc-body div {
        font-family: 'Poppins', sans-serif !important;
        color: var(--text-color) !important;
        transition: 0.4s;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -ms-transition: 0.4s;
        -o-transition: 0.4s;
    }

    .chapter-body {
        margin-top: 60px;
        width: 700px;
    }

    .chapter {
        width: 700px;
        min-height: 200px;
        max-height: 550px;
        overflow-y: scroll;
        border: 1px solid #0a55be;

    }

    .chapter::-webkit-scrollbar {
        width: 10px;
    }

    .chapter::-webkit-scrollbar-track {
        background: #fff;
    }

    .chapter::-webkit-scrollbar-thumb {
        background: #0d6efd;
    }

    .chapter::-webkit-scrollbar-thumb:hover {
        background: #0a55be;
    }

    .chapter-list {
        transition: 0.2s;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -ms-transition: 0.2s;
        -o-transition: 0.2s;
}

    .chapter-title h3 {
        font-family: Viga;
    }

    .chapter-title h3 .spanleft {
        color: blue;
    }

    .chapter-title h3 .spanright {
        color: var(--text-color) !important;
        transition: 0.4s;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -ms-transition: 0.4s;
        -o-transition: 0.4s;
    }

    .chapter-list .title-chapter-list{
        font-size: 15px;
        padding: 5px 0;
        border-top: 1px solid #0B63DC;
        border-bottom: 1px solid #0B63DC;
        border-right: 1px solid #0B63DC;
    }

    .chapter-list .title-chapter-list a {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        color: var(--text-color);
        text-decoration: none;
        transition: 0.1s;
        -webkit-transition: 0.1s;
        -moz-transition: 0.1s;
        -ms-transition: 0.1s;
        -o-transition: 0.1s;
}

    .chapter-list .title-chapter-list a span {
        font-size: 12px;
    }

    .chapter-list .title-chapter-list a, .chapter-list .title-chapter-list a span {
        margin-left: 12px;
    }

    .chapter-list .icon-list {
        background-color: rgb(216, 255, 255);
        padding: 6px 12px;
        font-size: 30px;
        border: 1px solid #0B63DC;
        transition: 0.2s;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -ms-transition: 0.2s;
        -o-transition: 0.2s;
}

    .chapter-list:hover {
        background-color: #0d6efd;
}

    .chapter-list:hover .icon-list {
        background-color: #0a55be;
        color: white;
        border: 1px solid #0a55be;
}

    .chapter-list:hover .title-chapter-list a {
        color: white;
    }

    /* End Detail */


    /* Start Read Page */

    .read-body {
        margin-top: 65px;
        margin-bottom: 65px;
    }

    .read-top {
        border-bottom: 2px solid var(--text-color);
        padding-bottom: 25px;
    }

    .title-read {
        text-align: center;
    }

    .title-read h2 {
        color: var(--text-color) !important;
        transition: 0.4s;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -ms-transition: 0.4s;
        -o-transition: 0.4s;
    }

    .img-read {
        text-align: center;
        margin-top: 40px;
    }

    .img-read img {
        width: 270px;
        height: 380px;
    }

    .link-read {
        text-align: center;
        margin-top: 30px;
        color: var(--text-color);
    }

    .link-read a {
        margin: 0 10px;
        text-decoration: none;
        color: var(--text-color);
        transition: 0.1s;
        -webkit-transition: 0.1s;
        -moz-transition: 0.1s;
        -ms-transition: 0.1s;
        -o-transition: 0.1s;
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;
        padding: 2px 6px;
    }

    .link-read span {
        margin: 0 10px;
        text-decoration: none;
        color: gray;
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;
        padding: 2px 6px;
    }

    .link-read a i {
        font-size: 16px;
    }

    .link-read a:hover {
        color: #0d6efd;
        border-bottom: 1px solid #0d6efd;
    }

    .read-mid .text {
        padding: 40px 30px !important;
    }

    .read-mid .text h2 span,
    .read-mid .text p,
    .read-mid .text b,
    .read-mid .text div,
    .read-mid .text div span {
        color: var(--text-color) !important;
        font-family: 'Poppins', sans-serif !important;
        font-weight: 500 !important;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
        transition: 0.4s;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -ms-transition: 0.4s;
        -o-transition: 0.4s;
    }

    .read-mid .text p,
    .read-mid .text b,
    .read-mid .text div,
    .read-mid .text div span {
        padding: 5px 0 !important;
    }

    .read-mid .text p img,
    .read-mid .text div img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .read-mid .text p span {
        background-color: var(--bg) !important;
        color: var(--text-color) !important;
        transition: 0.4s;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -ms-transition: 0.4s;
        -o-transition: 0.4s;
    }

    .read-bottom {
        border-top: 2px solid var(--text-color);
    }

    /* End Read Page */


    /* Comment */

    .comment-body {
        margin-top: 140px;
        width: 700px;
    }

    .garis-comment {
        color: var(--text-color);
        height: 5px;
    }

    .title-comment {
        color: var(--text-color);
    }

    .img-comment {
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
}

    .body-comment .right {
        margin-left: 15px;
        color: var(--text-color);
    }

    .body-comment .right {
        margin-bottom: 20px;
    }

    .create-comment {
        margin-bottom: 50px;
    }

    /* .comment {
        border-bottom: 1px solid var(--text-color);
    } */

    /* End Comment */


    /* Profile */
    .title-profile {
        color: var(--text-color);
        border-bottom: 2px solid var(--text-color);
        padding-bottom: 10px;
    }

    .form-profile label {
        color: var(--text-color);
        transition: 0.4s;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -ms-transition: 0.4s;
        -o-transition: 0.4s;
    }




 }
